---
---
<footer class="footer">
    <div class="footer-content">
        <p>&copy; 2024 TuNombre</p>
        <ul class="footer-nav">
            <li><a href="/">Inicio</a></li>
            <li><a href="/posts/">Todos los Posts</a></li>
            <li><a href="/about/">Sobre mí</a></li>
        </ul>
    </div>
</footer>
<style>
    /* Estilos para el footer */
.footer {
    background-color: #2c3e50; /* Color de fondo del footer */
    color: #fff; /* Color del texto */
    padding: 20px; /* Espaciado interior */
    text-align: center; /* Centrar el contenido */
}

/* Estilos para el contenido del footer */
.footer-content {
    max-width: 800px; /* Ancho máximo para el contenido */
    margin: 0 auto; /* Centrar el contenido horizontalmente */
}

/* Estilos para los enlaces del footer */
.footer-nav {
    list-style-type: none; /* Quita los puntos de la lista */
    padding: 0; /* Elimina el espacio interior */
}

/* Estilos para cada elemento de la lista del footer */
.footer-nav li {
    display: inline; /* Muestra los elementos de la lista en línea */
    margin: 0 10px; /* Espacio entre elementos */
}

/* Estilos para los enlaces del footer */
.footer-nav li a {
    color: #fff; /* Color del texto */
    text-decoration: none; /* Quita el subrayado predeterminado */
}

/* Cambio de color al pasar el ratón por encima */
.footer-nav li a:hover {
    color: #ff6f61; /* Cambia el color del texto al pasar el ratón */
}

</style>