<div class="intro">
    <h2>Bienvenidos a Historia del Arte en Blog</h2>
    <p>¡Bienvenidos a nuestro blog de Historia del Arte! Aquí encontrarás una colección exhaustiva de comentarios de texto relacionados con la asignatura de Historia del Arte de segundo de bachillerato, centrados en preparar para la Evaluación de Bachillerato para el Acceso a la Universidad (EBAU) de España.</p>
    <p>Nuestro objetivo es proporcionar un recurso completo para estudiantes, profesores y entusiastas del arte, donde puedan explorar y profundizar en los aspectos más relevantes de la historia del arte a través de comentarios de texto detallados y bien fundamentados.</p>
    <p>En este blog, nos comprometemos a ofrecerte análisis críticos, contexto histórico, interpretaciones y reflexiones sobre una amplia variedad de obras de arte, desde la antigüedad hasta la actualidad. Creemos que comprender el arte es fundamental para comprender la cultura y la sociedad en su conjunto.</p>
    <p>Esperamos que disfrutes de tu visita y que encuentres inspiración y conocimiento en nuestras publicaciones. No dudes en dejarnos tus comentarios y sugerencias. ¡Bienvenido a explorar el fascinante mundo de la historia del arte con nosotros!</p>
</div>

<style>
    /* Estilos para el texto de introducción */
.intro {
    max-width: 800px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centrado horizontal */
    padding: 20px; /* Espaciado interno */
    text-align: justify; /* Justificación del texto */
    line-height: 1.6; /* Espacio entre líneas */
}

/* Estilos para el título de introducción */
.intro h2 {
    color: #2c3e50; /* Color del título */
    font-size: 28px; /* Tamaño del título */
    margin-bottom: 20px; /* Espacio inferior */
}

/* Estilos para el texto de introducción */
.intro p {
    color: #333; /* Color del texto */
    font-size: 16px; /* Tamaño del texto */
    margin-bottom: 15px; /* Espacio inferior */
}

</style>