---
---
<nav class="navbar">
    <ul class="nav-list">
        <li class="nav-item"><a href="/">Inicio</a></li>
        <li class="nav-item"><a href="/entradas/">Todos los Posts</a></li>
        <li class="nav-item"><a href="/about/">Sobre mí</a></li>
    </ul>
</nav>

<style>
    /* Estilos para la barra de navegación */
.navbar {
    background-color: #2c3e50; /* Color de fondo de la barra de navegación */
    padding: 10px 0; /* Espaciado interior de la barra de navegación */
}

/* Estilos para la lista de navegación */
.nav-list {
    list-style-type: none; /* Quita los puntos de la lista */
    margin: 0;
    padding: 0;
    text-align: center; /* Centra los elementos de la lista */
}

/* Estilos para cada elemento de la lista de navegación */
.nav-item {
    display: inline-block; /* Los elementos de la lista se muestran en línea */
    margin-right: 20px; /* Espaciado entre elementos */
}

/* Estilos para los enlaces de navegación */
.nav-item a {
    color: #fff; /* Color del texto */
    text-decoration: none; /* Quita el subrayado predeterminado */
    font-size: 16px; /* Tamaño del texto */
    font-weight: bold; /* Negrita */
}

/* Cambio de color al pasar el ratón por encima */
.nav-item a:hover {
    color: #ff6f61; /* Cambia el color del texto al pasar el ratón */
}

</style>