---
const allPosts = await Astro.glob('../pages/posts/*.md');
---


<ul class="footer-nav">
    {allPosts.map((post) => <li><a  href={post.url}>{post.frontmatter.title}</a></li>)}
</ul>

<style>
    /* Estilos para los enlaces a las publicaciones */
.footer-nav li a {
    color: #333; /* Color del texto */
    text-decoration: none; /* Quita el subrayado predeterminado */
    transition: color 0.3s ease; /* Transición suave para el cambio de color */
}

/* Cambio de color al pasar el ratón por encima */
.footer-nav li a:hover {
    color: #ff6f61; /* Cambia el color del texto al pasar el ratón */
}

/* Estilos para los enlaces activos (cuando el usuario está en esa página) */
.footer-nav li a.active {
    font-weight: bold; /* Texto en negrita */
}

</style>